@model TranslationQuiz.Models.StudentInput
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Thanks</title>
</head>
<body>
    <div>
        <h1>congratulations, @Model.FirstName!</h1>
      
    </div>
    Click <a asp-action="ListResponses">here</a> to see how well you and other students did.
</body>
</html>