@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Translation Quiz</title>
</head>
<body>
    <div>
        <div>
            This is a translation quiz to test your knowledge and comprehension on Vietnamese.<br />
        </div>
        <a asp-action="RsvpForm">Continue</a>
    </div>
</body>
</html>