@page
@model TranslationQuiz.StudentInfoModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Student Quiz</title>
    <meta name='author' content='Linh Nguyen' />
    <meta name='description' content='This is the Translation Quiz.' />
</head>
<body>
    <h3>Student Information</h3>
    <form method="post">
            <p><input id='name' name='name' type='text' value=["FirstName"]/> </p>
            <p><input id='name' name='name' type='text' value=["LastName"] /> </p>
            <p><input id='name' name='name' type='text' value=["StudentID"] /> </p>
            <p><input type="submit" name="buttonSubmit" value="Add Student" /></p>
            <hr />

</body>
</html>